affine==2.4.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
atlite==0.2.11
attrs @ file:///C:/b/abs_35n0jusce8/croot/attrs_1695717880170/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.12.3
blosc2==2.0.0
Bottleneck==1.3.6
Brotli @ file:///D:/bld/brotli-split_1648883782420/work
cachetools==5.3.3
Cartopy @ file:///C:/b/abs_59eo06_lzn/croot/cartopy_1674677777262/work
cdsapi @ file:///home/conda/feedstock_root/build_artifacts/cdsapi_1678999242909/work
certifi @ file:///C:/b/abs_35d7n66oz9/croot/certifi_1707229248467/work/certifi
cftime==1.6.2
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
comm @ file:///C:/b/abs_1419earm7u/croot/comm_1671231131638/work
contourpy==1.0.7
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==0.29.33
dask==2023.3.0
debugpy @ file:///C:/ci_310/debugpy_1642079916595/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deprecation==2.1.0
entrypoints @ file:///C:/ci/entrypoints_1649926676279/work
et-xmlfile==1.1.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_ebruxzvd08/croots/recipe/python-fastjsonschema_1661376484940/work
Fiona==1.9.4.post1
fonttools==4.38.0
fsspec==2023.1.0
geopandas==0.13.2
google==3.0.0
google-api-core==2.19.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
highspy==1.5.0.dev0
httplib2==0.22.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
ipykernel @ file:///C:/b/abs_b4f07tbsyd/croot/ipykernel_1672767104060/work
ipython @ file:///C:/b/abs_d4_i9p0_36/croot/ipython_1674681439495/work
jedi @ file:///C:/ci/jedi_1644315428305/work
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
jsonschema @ file:///C:/b/abs_d1c4sm8drk/croot/jsonschema_1699041668863/work
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
jupyter_client @ file:///C:/b/abs_b9pns5mx5p/croot/jupyter_client_1671703062216/work
jupyter_core @ file:///C:/b/abs_84df679bho/croot/jupyter_core_1672332237650/work
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
linopy==0.1.3
locket==1.0.0
MarkupSafe @ file:///C:/ci/markupsafe_1654508036328/work
matplotlib @ file:///C:/b/abs_49b2acwxd4/croot/matplotlib-suite_1679593486357/work
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661934094726/work
mkl-fft==1.3.6
mkl-random @ file:///C:/Users/dev-admin/mkl/mkl_random_1682977971003/work
mkl-service==2.4.0
msgpack==1.0.4
munkres==1.1.4
nbformat @ file:///C:/b/abs_5a2nea1iu2/croot/nbformat_1694616866197/work
nest-asyncio @ file:///C:/b/abs_3a_4jsjlqu/croot/nest-asyncio_1672387322800/work
netCDF4==1.6.2
networkx==3.0
numexpr==2.8.4
numpy @ file:///C:/b/abs_f6napi3n6e/croot/numpy_and_numpy_base_1691091651337/work
oauthlib==3.2.2
openpyxl==3.1.1
packaging==23.0
pandas==1.5.3
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.3.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.4.0
platformdirs @ file:///C:/b/abs_73cc5cz_1u/croots/recipe/platformdirs_1662711386458/work
plotly @ file:///C:/b/abs_4bg9qp7pkg/croot/plotly_1708976943925/work
ply==3.11
progressbar2==4.2.0
prompt-toolkit @ file:///C:/b/abs_6coz5_9f2s/croot/prompt-toolkit_1672387908312/work
proto-plus==1.23.0
protobuf==4.25.3
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo==9.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybind11==2.10.3
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pygsheets==2.0.6
Pyomo==6.5.0
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
pyproj==3.6.0
pypsa==0.22.1
pyshp @ file:///tmp/build/80754af9/pyshp_1610641829514/work
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-utils==3.7.0
pytz==2022.7.1
pywin32==305.1
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1657616000714/work
rasterio==1.3.8
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-oauthlib==2.0.0
rioxarray==0.14.1
rpds-py @ file:///C:/b/abs_76j4g4la23/croot/rpds-py_1698947348047/work
rsa==4.9
scipy==1.10.1
shapely @ file:///C:/b/abs_e8n_rzfcjr/croot/shapely_1680636303476/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
snuggs==1.4.7
soupsieve==2.5
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
tables==3.8.0
tenacity @ file:///C:/b/abs_ddkoa9nju6/croot/tenacity_1682972298929/work
toolz==0.12.0
tornado @ file:///C:/ci/tornado_1662476985533/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
traitlets @ file:///C:/b/abs_e5m_xjjl94/croot/traitlets_1671143896266/work
typing_extensions==4.7.1
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1689789803562/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wincertstore==0.2
xarray==2023.2.0
